.sub-menu-conntainer{
    width: 200px;
    position: absolute;
    top: -10px;
    left: -70px;


    
}

.sub-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}


// Menu items
.sub-menu-item{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 25px;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--primary-color);
    padding: 0 20px;
    
    margin: 2px 0;
    &:hover {
        cursor: pointer;
        color: var(--sub-color);
    }

    span {
        display: block;
    }
}

.sub-menu-item-title {
    padding: 5px;
}